.margin { margin:0 auto;height: auto }
 
.shadow { box-shadow: 1px 1px 1px #777 }
 
.spanp {
	background-color: #fff;
	font-weight: bold;
	font-size: 16px }
  
 
#image {
	margin-top: 5px!important;
	width: 40%;
	margin: 0 auto;
	height: auto;
	position: relative }
 
#progress,#summary {
	width: 70%;
	margin: 0 auto;
	height: auto }

#summary h3  {
	font-size: 1.5em
}
 
#progress { border-bottom: 1px solid black }
 
#img,#progimage { height:auto;width: 100% }
 
#title {
	height: auto;
	width: 100%;
	font-weight: bold;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 2em;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	background-color: #666;
	position: absolute;
	top: 10px;
	left: 0;
	opacity: 0. }
 
#name {
	background-color: #666;
	height: 15%;
	width: 100%;
	color: #fff }
 
#localmp { width:70%;margin: 0 auto }
 
#name h2 { text-decoration:underline;padding-left: 20px }
 
#view {
	height: 1.5em;
	width: 100%;
	display: block;
	font-weight: bold;
	font-size: 1.5em
}
 
#note {
	padding-left: 10px;
	float: left;
	height: 200px }
 
#contact { color: #000 }
 
	#contact p { padding:0;margin: 0 }
 
#localMP {
	width: 40%;
	border: 1px solid #666;
	height: 100% }
 
#details {
	text-align: left;
	width: 50%;
	float: left }
 
	#details div { padding-left: 20px }
 
#buttons {
	width: 60%;
	float: right!important;
	text-align: center }
 
	#buttons div {
		border-radius: 1px;
		height: 1.2em;
		width: auto;
		background-color: #aaa;
		padding: 20px;
		margin-top: 20px;
		margin-right: 5px;
		border: 1px solid #999 }
 
#details div { padding: 0 auto }
 
#social { width:70%;margin: 0 auto }
 
#socialbar { width:100%;height: 12% }
 
#public {
	margin-top: .6em;
	font-size: 1.5em;
	font-weight: bold }
 
#person {
	height: 100%;
	width: 100%;
	margin: 0 auto }
 
#map {
	width: 100%;
	height: 100%;
	float: left }
 
#mmm { width:100%;height: 100% }
 
#buttons h2 {
	width: 100%;
	background-color: #999;
	border: 1px #666;
	border-radius: 1px;
	box-shadow: 1px 1px 1px #666;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 2em;
	vertical-align: middle;
	padding-top: 12% }
 
#doc { margin-bottom: 2%; }
 
.lower {
	height: 90%;
	overflow-x: hidden !important; }
 
#contact_mp {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 30px;
}

#contact_button {
  width: 100%;
  background-color: #9D141B;
  color: white;
  font-weight: bold;
}
