body {
	min-width: 340px;
	margin: 0;
	overflow: hidden;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
	list-style: none;
	display: inline;
	padding: 0;
}

html {
	background-color: #e8e8e8;
}

.top-bar {
	position: relative;
	top: 0;
	width: 100%;
	background-color: #9D141B;
	height: 53px;
	box-shadow: 0px 8px 6px -6px #222;
	z-index: 999999;
}/*#9D141B, #036080*/

.title-bar {
	width: 100%;
	height: 100%;
}

.title-bar h1 {
	text-align: center;
	margin: 0 auto;
	color: white;
	padding-top: 8px;
}

.lower {
	width: 100%;
	height: 100%;
}

.content {
	height: 100%;
	position: absolute;
	right: 0px;
	top: 53px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: white;
}

.loading {
	float: right;
	visibility: hidden;
}

.nav-pane {
	width: 80%;
	max-width: 300px;
	min-width: 280px;
	height: 100%;
	position: relative;
	left: 0px;
	z-index: 2;
	margin: 0;
	background-color: white;
	overflow-y: scroll;
	box-shadow: 7px 0px 14px -1px #222, inset 0 -20px 40px -15px rgba(255, 255, 255, 0.5);
}

.page {
	max-width: 1080px;
	min-width: 300px;
	margin: 0 auto;
	box-shadow: 0 0 20px #888888;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

.main {
	font-size: 1.1em;	
}

.title {
	margin-top: -1px;
	font-size: 1.2em;
	border-bottom: 1px #E8E8E8 dashed;
	border-top: 1px #E8E8E8 dashed;
	padding-top: 5px;
}

.search-icon {
	margin-right: 2px;
	float: left;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.pin, .remove {
	margin-left: 20px;
	width: 35px;
	height: 35px;
	vertical-align: middle;
}

.pin:hover {
	transform:rotate(-14deg);
	-webkit-transform:rotate(-14deg); 
}

.list-of-bills li {
	height: 150px;
	margin: 0;
}

.background {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.categories li {
	height: 45px;
	margin-left: 10px;
}

.category {
	margin-top: 10px;
}

.category:hover {
	padding-left: 10px;
}

.category:hover .icon {
	margin-left: 10px;
}

.border {
	width: 80%;
    height: 1px;
    margin: 10px auto 0px auto;
    border-bottom: 1px solid #e8e8e8;	
}

.pinned {
	padding-left: 10px;
}

.pinned:hover {
	padding-left: 20px;
}

.shadow {
	box-shadow:1px 1px 1px #777;
}

.spanp {
	font-weight:700;
	font-size:16px;
}

.bill {
	margin: 0 0 0 1px;
	position:relative;
	width:100%;
	height:24.5%;
	min-height: 180px;
	max-height: 400px;
	min-width:370px;
	border-bottom:1px solid #666;
	padding:0;
}

.bill h2 {
	position:absolute;
	top:0;
	left:1em;
	width:80%;
	height:auto;
	border-radius:1px;
}

.type {
	position:absolute;
	bottom: 0.5em;
	right: 1em;
	height: auto;
	padding: 0 5px;
}

.bill span {
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.6);
	color: white; 
}

.bill h2 span {
	font: bold 24px/45px; 
	letter-spacing: -1px;  
	padding: 10px;
	line-height: 2.05em;
}

.bill h2 {
	position:absolute;
	top:1%;
	right:1%;
	z-index:1;
	opacity:1!important;
	margin:0;
	padding:10px;
}

.ground {
	background: #ffffff url(./image.jpg) no-repeat 50% 50%;
	min-height:100%;
	min-width:100%;
	box-shadow:1px 1px 1px #777;
	margin:0;
	padding:0;
}

.load-more {
	width: 100%;
	height: 60px;
	background-color: #EEE;
}

.load-more p {
	margin: 0;
	padding-top: 20px;
	font-size: 1em;
	font-weight: bold;
	color: #999;
	text-align: center;
}

/*make each menu take the whole page when on a mobile and hide the supper menu*/
@media (max-width: 900px){
	.nav-pane {
		left: -600px;
	}
}

#view-nav {
	float: left;
	margin: 5px 10px 5px 5px;
	height: 43px;
	width: 43px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

#view-nav img {
	width: 100%;
}

#filter-categories {
	width: 80%;
}

#categories {
	height: 70px;
}

#categories + li {
	margin-top: 10px;
}

#search {
	margin: 10px 0 10px 0;
}

#open {
	color: green;
}

#text {
	z-index:100;
	position:absolute;
	color:#FFF;
	font-size:24px;
	font-weight:700;
	left:150px;
	top:350px;
}

#loading-big {
	position: absolute;
	left: 50%;
	top: 65px;
	margin-left: -175px;
}

#loading-small {
	width: 40px;
	height: 40px;
	position: relative;
	top: -50%;
	right: 5%;
}

::-webkit-input-placeholder {
	color:#CCC;
	font-style:italic;
}